/*Inicio Formatos Contactos*/

.article_formulario {
    background-color:#448F30; 
    border-color: #00362D;
}

.formulario_box {
    margin-left: 0px;
    margin-right: 0px;
}

/*Fin Formatos Contactos*/