/*Formatos Historia*/

.img_historia {
    border: 5px solid red;
    border-radius: 200px;
    margin: 10px 0px 10px 0px;

}

.historia_parrafos {
    margin: 0px 0px 0px 0px;
}
/*Inicio Mapa*/
$titulo: (
    nazareno: #051938,
    rocio: #531021,
);

$estilo: (
    font: 30px,
    centro: center,
    weight: bold,
    height: 1.6,
    letter_spacing: 1px,
    word_spacing: 3px,
);

@each $nombre, $color in $titulo {
    .titulo_#{$nombre}{
        font-size: map-get($estilo,font);
        text-align: map-get($estilo,centro);
        color: $color;
        font-weight: map-get($estilo,weight);
        line-height: map-get($estilo,height);
        letter-spacing: map-get($estilo,letter_spacing);
        word-spacing: map-get($estilo,word_spacing);
    }
    
}
/*fin Mapa*/

/*fin formatos historia*/