@media screen and (min-width:600px) {

    .grids {
        display: grid;
        grid-template-areas:
            "header header"
            "titulo titulo"
            "texto texto"
            "foto foto"
            "imagen imagen"
            "articulo articulo"
            "boton boton"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .padre_muestra {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .foto_inicio {
        grid-area: foto;
        display: flex;
        justify-content: center;
        
    }

    .iconos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .nav_a{
        transition: 2s;
        font-size: 20px;
        }
    
}

@media screen and (min-width:768px) {

    .grids {
        display: grid;
        grid-template-areas:
            "header header"
            "titulo titulo"
            "texto foto"
            "imagen imagen"
            "articulo articulo"
            "boton boton"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .nav_lista {
        font-size: 20px;
    }

    .nav_a{
        transition: 2s;
        font-size: 20px;
        &:hover {
            transition: 2s;
            transform: scale(2.0);
            }
        }
    
    .article_contacto {
        transition: 2s;
        padding: 30PX;
        &:hover{
            transition: 2s;
            transform: scale(1.5);
            }
    }

    /*Quiebre historia*/

    .grids_historia {
        display: grid;
        grid-template-areas:
            "header header"
            "titulo titulo"
            "introh introh"
            "fotosh1 fotosh2"
            "texto texto"
            "boton boton"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }


    .fotos_historia1 {
        align-content: center;
    }

    .historia_parrafos {
        margin-bottom: 20px;
    }

    /*Quiebre Servicios*/
    .grids_servicios {
        display: grid;
        grid-template-areas:
            "header header"
            "titulo titulo"
            "intros intros"
            "servicios servicios"
            "boton boton"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .section_parrafos {
        font-size: 20px;
    }

    /*Quiebre Galeria*/

    .carousel {
        width:710px;
        height:710px;
      }

}

@media screen and (min-width:992px) {

    .grids {
        display: grid;
        grid-template-areas:
            "header header header header"
            "titulo titulo titulo titulo"
            "texto texto foto foto"
            "imagen imagen imagen imagen"
            "articulo articulo articulo articulo"
            "boton boton boton boton"
            "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .iconos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .nav_a {
        margin-left: 40px;
        margin-right: 40px;
    }

    /*Quiebre Historia*/


    .historia_parrafos {
        margin: 0px 40px 0px 10px;
    }

    /*Quiebre Servicios*/

    .grids_servicios {
        display: grid;
        grid-template-areas:
            "header header header header"
            "titulo titulo titulo titulo"
            "intros intros intros intros"
            "servicios servicios servicios servicios"
            "boton boton boton boton"
            "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

    .padre_servicios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }


        /*Quiebre Contacto*/

        .display_contacto{
            display: block;
        }
        .formulario_textarea{
            width: 420px;
        }
}

@media screen and (min-width: 1017px) {

    .padre_muestra {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
}

@media screen and (min-width:1218px) {
    .transicion_foto {
        transition:4s;
        zoom: 100%;
        &:hover {
            transition: 4s;
            transform: scale(1.4);
            }
    }
    
}

@media screen and (min-height:1024px) {
    .article_formulario {
        margin-bottom: 144px;
    }
}